In [1]:
import pandas as pd
import re

In [2]:
data = pd.read_excel('LGA_Area_pop.xls', 'Table 2')
lgas = pd.read_csv('new_lgas.csv')
data

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,"Regional population, 2019-20",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Released at 11.30am (Canberra time) 30 March 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Table 2. Estimated resident population, Local ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,ERP at 30 June,NaN,NaN,ERP change,NaN,NaN,Components of population change 2019-20,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,"Source: Regional population, 2019-20",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,© Commonwealth of Australia 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
pop19 = list(data['Unnamed: 2'])[8:87]
pop19.append(list(data['Unnamed: 2'])[88])
pop19

[12812,
 11844,
 109504,
 131640,
 36315,
 53394,
 106856,
 14034,
 183197,
 209568,
 6123,
 37615,
 112179,
 353962,
 13182,
 21562,
 16017,
 164224,
 47308,
 142645,
 10469,
 156535,
 19671,
 23722,
 118091,
 168261,
 258938,
 66501,
 15973,
 5586,
 97765,
 19920,
 233545,
 16699,
 165804,
 164553,
 75553,
 7502,
 50230,
 127585,
 9175,
 93482,
 118569,
 178994,
 164936,
 55779,
 46087,
 29920,
 202896,
 130313,
 35051,
 185811,
 167619,
 19751,
 16952,
 14568,
 65099,
 11401,
 115620,
 7470,
 2939,
 29910,
 16098,
 117776,
 10778,
 33457,
 20650,
 6039,
 29184,
 35181,
 44378,
 3839,
 178779,
 230297,
 42083,
 270607,
 101516,
 159474,
 6637,
 881]

In [4]:
pop20 = list(data['Unnamed: 3'])[8:87]
pop20.append(list(data['Unnamed: 3'])[88])
pop20

[12973,
 11965,
 111361,
 131940,
 37445,
 54884,
 107541,
 14137,
 183023,
 208247,
 6101,
 37675,
 116193,
 364600,
 13092,
 21662,
 15929,
 166430,
 47725,
 143338,
 10400,
 158216,
 19621,
 24249,
 119980,
 168362,
 264866,
 67070,
 16157,
 5592,
 98189,
 20018,
 241188,
 16885,
 167293,
 165147,
 75915,
 7473,
 50971,
 128929,
 9474,
 94982,
 119401,
 183756,
 172500,
 55937,
 47647,
 30018,
 204936,
 131753,
 36013,
 188762,
 168862,
 20001,
 17027,
 14661,
 65219,
 11403,
 116476,
 7555,
 3008,
 30248,
 16134,
 118614,
 10992,
 34771,
 20534,
 6102,
 29197,
 35533,
 44770,
 3810,
 180735,
 236539,
 42662,
 283294,
 103125,
 159955,
 6588,
 894]

In [5]:
area = list(data['Unnamed: 12'])[8:87]
area.append(list(data['Unnamed: 12'])[88])
area

[4788.2,
 4211.1,
 739,
 62.5,
 865.8,
 4027.6,
 37.2,
 2352.6,
 60.2,
 123.4,
 8000.4,
 4518.9,
 1282.6,
 409.4,
 1532.8,
 3437.5,
 4407.5,
 53.5,
 20940.2,
 129.6,
 3735.3,
 38.7,
 6218.6,
 2703.4,
 3000,
 129.5,
 1248,
 2421.9,
 1473,
 7524.2,
 64.2,
 4266.8,
 503.9,
 2040.1,
 91.4,
 113.9,
 1425.6,
 6696.4,
 1748.3,
 113.3,
 3843.9,
 31.2,
 61.4,
 37.4,
 527.5,
 22082.5,
 2862.1,
 4046.4,
 81.5,
 43.1,
 2110.6,
 51,
 724.2,
 1529.6,
 5481.7,
 3879.8,
 432.3,
 5729.9,
 20.7,
 3434.6,
 8.6,
 3296.3,
 6654,
 25.7,
 3303.3,
 1552.9,
 6115.3,
 6674.9,
 3645.1,
 120.9,
 10817.3,
 9108.2,
 64.3,
 489.7,
 432.7,
 542.1,
 19.5,
 2468.2,
 7325.8,
 283]

In [6]:
lga = list(lgas['LGA names'])
lgaid = list(lgas['LGA id'])

In [7]:
out = pd.DataFrame({'LGA': lga, 'LGA id': lgaid, 'Area': area, '2019 population': pop19, '2020 population': pop20})
out

                   LGA  LGA id    Area  2019 population  2020 population
0               ALPINE   20110  4788.2            12812            12973
1               ARARAT   20260  4211.1            11844            11965
2             BALLARAT   20570   739.0           109504           111361
3              BANYULE   20660    62.5           131640           131940
4           BASS COAST   20740   865.8            36315            37445
..                 ...     ...     ...              ...              ...
75             WYNDHAM   27260   542.1           270607           283294
76               YARRA   27350    19.5           101516           103125
77        YARRA RANGES   27450  2468.2           159474           159955
78        YARRIAMBIACK   27630  7325.8             6637             6588
79  UNINCORPORATED VIC   29399   283.0              881              894

[80 rows x 5 columns]

In [8]:
out.to_csv('LGA_area_population.csv')