In [1]:
import pandas as pd
import re

In [2]:
keys = pd.read_csv('new_keys.csv')
lgas = pd.read_csv('new_lgas.csv')
data = pd.read_csv('LGA-Response-Time-Performance-FY-2019.csv')

In [3]:
data

,LGA Name,Final Dispatch Code,%<=15mins,AVG RT - Seconds,Total Number
0,Alpine,Code 1,51.10%,1219,573
1,Ararat,Code 1,66.00%,875,588
2,Ballarat,Code 1,89.70%,618,"6,051"
3,Banyule,Code 1,91.40%,594,"5,415"
4,Bass Coast,Code 1,68.20%,842,"2,325"
...,...,...,...,...,...
169,Interstate LGAs,Code 2,NaN,1824,612
170,Total AV,Code 2,NaN,1441,"215,714"
171,NaN,NaN,NaN,NaN,NaN
172,NOTE:,NaN,NaN,NaN,NaN
173,1. The Moonee Valley LGA includes the airport ...,NaN,NaN,NaN,NaN

In [4]:
tmp = list(data['LGA Name'])[0:80]
LGA = list()
for lga in tmp:
    lga = re.sub(r'-', '', lga)
    lga = re.sub(r'[\(1\)]', '', lga)
    lga = lga.upper()
    LGA.append(lga)
LGA

['ALPINE',
 'ARARAT',
 'BALLARAT',
 'BANYULE',
 'BASS COAST',
 'BAW BAW',
 'BAYSIDE',
 'BENALLA',
 'BOROONDARA',
 'BRIMBANK',
 'BULOKE',
 'CAMPASPE',
 'CARDINIA',
 'CASEY',
 'CENTRAL GOLDFIELDS',
 'COLACOTWAY',
 'CORANGAMITE',
 'DAREBIN',
 'EAST GIPPSLAND',
 'FRANKSTON',
 'GANNAWARRA',
 'GLEN EIRA',
 'GLENELG',
 'GOLDEN PLAINS',
 'GREATER BENDIGO',
 'GREATER DANDENONG',
 'GREATER GEELONG',
 'GREATER SHEPPARTON',
 'HEPBURN',
 'HINDMARSH',
 'HOBSONS BAY',
 'HORSHAM',
 'HUME',
 'INDIGO',
 'KINGSTON',
 'KNOX',
 'LATROBE',
 'LODDON',
 'MACEDON RANGES',
 'MANNINGHAM',
 'MANSFIELD',
 'MARIBYRNONG',
 'MAROONDAH',
 'MELBOURNE',
 'MELTON',
 'MILDURA',
 'MITCHELL',
 'MOIRA',
 'MONASH',
 'MOONEE VALLEY ',
 'MOORABOOL',
 'MORELAND',
 'MORNINGTON PENINSULA',
 'MOUNT ALEXANDER',
 'MOYNE',
 'MURRINDINDI',
 'NILLUMBIK',
 'NORTHERN GRAMPIANS',
 'PORT PHILLIP',
 'PYRENEES',
 'QUEENSCLIFFE',
 'SOUTH GIPPSLAND',
 'SOUTHERN GRAMPIANS',
 'STONNINGTON',
 'STRATHBOGIE',
 'SURF COAST',
 'SWAN HILL',
 'TOWONG',
 'UNINCORPORATED VIC',
 'WANGARATTA',
 'WARRNAMBOOL',
 'WELLINGTON',
 'WEST WIMMERA',
 'WHITEHORSE',
 'WHITTLESEA',
 'WODONGA',
 'WYNDHAM',
 'YARRA',
 'YARRA RANGES',
 'YARRIAMBIACK']

In [5]:
code1fifteenmin = list(data['%<=15mins'])[0:80]
code1fifteenmin

['51.10%',
 '66.00%',
 '89.70%',
 '91.40%',
 '68.20%',
 '69.50%',
 '89.80%',
 '63.80%',
 '90.80%',
 '89.70%',
 '38.10%',
 '67.00%',
 '73.60%',
 '87.90%',
 '65.30%',
 '65.70%',
 '46.70%',
 '92.00%',
 '64.80%',
 '91.30%',
 '50.50%',
 '92.00%',
 '75.50%',
 '34.60%',
 '80.90%',
 '92.00%',
 '84.80%',
 '85.60%',
 '37.40%',
 '56.60%',
 '88.10%',
 '85.00%',
 '88.10%',
 '28.80%',
 '91.50%',
 '92.50%',
 '80.90%',
 '31.10%',
 '67.30%',
 '85.30%',
 '45.90%',
 '90.50%',
 '93.60%',
 '91.80%',
 '83.60%',
 '85.30%',
 '66.80%',
 '60.50%',
 '89.10%',
 '87.90%',
 '71.60%',
 '90.60%',
 '83.00%',
 '52.40%',
 '42.40%',
 '38.90%',
 '70.80%',
 '68.10%',
 '90.80%',
 '47.50%',
 '56.50%',
 '47.90%',
 '62.60%',
 '90.30%',
 '46.00%',
 '61.40%',
 '74.80%',
 '42.50%',
 '39.80%',
 '76.40%',
 '92.50%',
 '60.10%',
 '37.30%',
 '92.80%',
 '81.70%',
 '87.50%',
 '88.00%',
 '93.20%',
 '77.90%',
 '39.80%']

In [6]:
code2sec = list(data['AVG RT - Seconds'])[89:169]
len(code2sec)

80

In [7]:
code1sec = list(data['AVG RT - Seconds'])[0:80]
code1sec

['1219',
 '875',
 '618',
 '594',
 '842',
 '842',
 '630',
 '903',
 '616',
 '613',
 '1389',
 '824',
 '741',
 '630',
 '885',
 '904',
 '1102',
 '583',
 '914',
 '585',
 '1130',
 '588',
 '783',
 '1126',
 '708',
 '580',
 '663',
 '640',
 '1108',
 '1209',
 '634',
 '633',
 '627',
 '1261',
 '594',
 '579',
 '675',
 '1297',
 '804',
 '692',
 '1401',
 '589',
 '543',
 '533',
 '656',
 '650',
 '825',
 '939',
 '644',
 '659',
 '773',
 '611',
 '659',
 '1003',
 '1068',
 '1298',
 '798',
 '871',
 '575',
 '1070',
 '911',
 '1082',
 '957',
 '612',
 '1061',
 '917',
 '772',
 '1379',
 '1725',
 '761',
 '569',
 '974',
 '1297',
 '557',
 '690',
 '634',
 '627',
 '529',
 '716',
 '1280']

In [9]:
out = pd.DataFrame({'LGA': LGA, 'Within 15': code1fifteenmin, 'code1 time (sec)': code1sec, 'code2 time (sec)': code2sec})
out

             LGA Within 15 code1 time (sec) code2 time (sec)
0         ALPINE    51.10%             1219             1963
1         ARARAT    66.00%              875             1495
2       BALLARAT    89.70%              618             1301
3        BANYULE    91.40%              594             1337
4     BASS COAST    68.20%              842             1619
..           ...       ...              ...              ...
75       WODONGA    87.50%              634             1380
76       WYNDHAM    88.00%              627             1277
77         YARRA    93.20%              529             1356
78  YARRA RANGES    77.90%              716             1202
79  YARRIAMBIACK    39.80%             1280             2004

[80 rows x 4 columns]

In [11]:
out.to_csv('response_time_tally.csv')