In [1]:
import pandas as pd
import re

In [2]:
keys = pd.read_csv('new_keys.csv')
lgas = pd.read_csv('new_lgas.csv')
data = pd.read_csv('VPA_Open_Space.csv')

In [3]:
tester = set()
for lga in list(data['LGA']):
    tester.add(lga)
tester

{'BANYULE',
 'BAYSIDE',
 'BOROONDARA',
 'BRIMBANK',
 'CARDINIA',
 'CASEY',
 'DAREBIN',
 'FRANKSTON',
 'GLEN EIRA',
 'GREATER DANDENONG',
 'HOBSONS BAY',
 'HUME',
 'KINGSTON',
 'KNOX',
 'MANNINGHAM',
 'MARIBYRNONG',
 'MAROONDAH',
 'MELBOURNE',
 'MELTON',
 'MITCHELL',
 'MONASH',
 'MOONEE VALLEY',
 'MORELAND',
 'MORNINGTON',
 'NILLUMBIK',
 'PORT PHILLIP',
 'STONNINGTON',
 'WHITEHORSE',
 'WHITTLESEA',
 'WYNDHAM',
 'YARRA',
 'YARRA RANGES'}

In [4]:
tally_exist = dict()
area_exist = dict()
tally_planned = dict()
area_planned = dict()
tally_pureland = dict()
area_pureland = dict()

for word in list(lgas['LGA names']): 
    tally_exist[word.upper()] = 0 
    area_exist[word.upper()] = 0 
    tally_planned[word.upper()] = 0 
    area_planned[word.upper()] = 0 
    tally_pureland[word.upper()] = 0 
    area_pureland[word.upper()] = 0 

tally_exist

{'ALPINE': 0,
 'ARARAT': 0,
 'BALLARAT': 0,
 'BANYULE': 0,
 'BASS COAST': 0,
 'BAW BAW': 0,
 'BAYSIDE': 0,
 'BENALLA': 0,
 'BOROONDARA': 0,
 'BRIMBANK': 0,
 'BULOKE': 0,
 'CAMPASPE': 0,
 'CARDINIA': 0,
 'CASEY': 0,
 'CENTRAL GOLDFIELDS': 0,
 'COLAC OTWAY': 0,
 'CORANGAMITE': 0,
 'DAREBIN': 0,
 'EAST GIPPSLAND': 0,
 'FRANKSTON': 0,
 'GANNAWARRA': 0,
 'GLEN EIRA': 0,
 'GLENELG': 0,
 'GOLDEN PLAINS': 0,
 'GREATER BENDIGO': 0,
 'GREATER DANDENONG': 0,
 'GREATER GEELONG': 0,
 'GREATER SHEPPARTON': 0,
 'HEPBURN': 0,
 'HINDMARSH': 0,
 'HOBSONS BAY': 0,
 'HORSHAM': 0,
 'HUME': 0,
 'INDIGO': 0,
 'KINGSTON': 0,
 'KNOX': 0,
 'LATROBE': 0,
 'LODDON': 0,
 'MACEDON RANGES': 0,
 'MANNINGHAM': 0,
 'MANSFIELD': 0,
 'MARIBYRNONG': 0,
 'MAROONDAH': 0,
 'MELBOURNE': 0,
 'MELTON': 0,
 'MILDURA': 0,
 'MITCHELL': 0,
 'MOIRA': 0,
 'MONASH': 0,
 'MOONEE VALLEY': 0,
 'MOORABOOL': 0,
 'MORELAND': 0,
 'MORNINGTON PENINSULA': 0,
 'MOUNT ALEXANDER': 0,
 'MOYNE': 0,
 'MURRINDINDI': 0,
 'NILLUMBIK': 0,
 'NORTHERN GRAMPIANS': 0,
 'PORT PHILLIP': 0,
 'PYRENEES': 0,
 'QUEENSCLIFFE': 0,
 'SOUTH GIPPSLAND': 0,
 'SOUTHERN GRAMPIANS': 0,
 'STONNINGTON': 0,
 'STRATHBOGIE': 0,
 'SURF COAST': 0,
 'SWAN HILL': 0,
 'TOWONG': 0,
 'WANGARATTA': 0,
 'WARRNAMBOOL': 0,
 'WELLINGTON': 0,
 'WEST WIMMERA': 0,
 'WHITEHORSE': 0,
 'WHITTLESEA': 0,
 'WODONGA': 0,
 'WYNDHAM': 0,
 'YARRA': 0,
 'YARRA RANGES': 0,
 'YARRIAMBIACK': 0,
 'UNINCORPORATED VIC': 0}

In [5]:
reject = ['Cemeteries', 'Natural and semi-natural open space', 'Parks and gardens', 'Recreation corridor', 'Services and utilities reserves', 'Tertiary institutions']
OS_ACCESS = list(data['OS_ACCESS'])
OS_TYPE = list(data['OS_TYPE'])
OS_CATEGOR = list(data['OS_CATEGOR'])
OS_STATUS = list(data['OS_STATUS'])
SHAPE_Area = list(data['SHAPE_Area'])
LGA = list(data['LGA'])

for i in range(len(LGA)):    
    lga = LGA[i]
    
    if lga == 'MORNINGTON':
        lga = 'MORNINGTON PENINSULA'
    
    if OS_ACCESS[i] != 'Closed' and OS_TYPE[i] != 'Restricted public land' and OS_CATEGOR[i] not in reject:
        
        if OS_STATUS[i] == 'Existing':
            tally_exist[lga] += 1
            area_exist[lga] += SHAPE_Area[i]
    
    if OS_TYPE[i] != 'Restricted public land' and OS_CATEGOR[i] not in reject:
        if OS_STATUS[i] == 'Planned':
            tally_planned[lga] += 1
            area_planned[lga] += SHAPE_Area[i]
    
    if OS_ACCESS[i] != 'Closed' and OS_CATEGOR[i] not in reject:
        
        tally_pureland[lga] += 1
        area_pureland[lga] += SHAPE_Area[i]

In [22]:
LGANAMES = list(lgas['LGA names'])
out = pd.DataFrame({'LGA': LGANAMES, 'Tally exist': list(tally_exist.values()), 
                    'Area exist': list(area_exist.values()), 'Tally planned': list(tally_planned.values()), 
                    'Area planned': list(area_planned.values()), 'Tally pureland': list(tally_pureland.values()), 
                    'Area pureland': list(area_pureland.values())})

out

,LGA,Tally exist,Area exist,Tally planned,Area planned,Tally pureland,Area pureland
0,ALPINE,0,0.000000,0,0.000000,0,0.000000
1,ARARAT,0,0.000000,0,0.000000,0,0.000000
2,BALLARAT,0,0.000000,0,0.000000,0,0.000000
3,BANYULE,129,0.000387,0,0.000000,200,0.000463
4,BASS COAST,0,0.000000,0,0.000000,0,0.000000
...,...,...,...,...,...,...,...
75,WYNDHAM,84,0.000533,5,0.011649,412,0.000605
76,YARRA,43,0.000151,0,0.000000,50,0.000212
77,YARRA RANGES,878,0.082483,0,0.000000,1124,0.082615
78,YARRIAMBIACK,0,0.000000,0,0.000000,0,0.000000
79,UNINCORPORATED VIC,0,0.000000,0,0.000000,0,0.000000

In [23]:
out.to_csv('open_space_tally.csv')